{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block extra_css %}
<style>
    /* Специфичные стили для главной страницы */
    .hero-section h1,
    .hero-section p {
        color: #333 !important; 
    }

    .gradient-text {
      /* Определяем градиент с нужными цветами (синий, серый, чёрный) */
      background: linear-gradient(270deg, #0d6efd, #aaa, #333);
      background-size: 600% 600%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientAnimation 15s ease infinite;
    }

    @keyframes gradientAnimation {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
</style>
{% endblock %}

{% block content %}
<section class="hero-section py-5" style="background-color: #eaeaea;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <h1 class="display-4 fw-bold gradient-text">
                    Раскройте <br> потенциал будущего
                </h1>
                <p class="lead gradient-text">
                    Улучшите свои навыки программирования и преуспейте в соревнованиях
                    с помощью нашего экспертного подхода.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <a href="/pages/photos"
                       class="btn btn-primary mb-3"
                       style="border-radius: 50%; width: 120px; height: 120px; display: flex; align-items: center; justify-content: center;">
                        ФОТОГРАФИИ
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}