<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
     <div>
        <div style="margin-bottom: 20px;">ФСП</div>
        <div>
            <a href="/api/codeforces/participants" style="margin-right: 10px; display: inline-block;">Участники</a> <!-- Кнопка "Участники" всегда видна -->
            {% if user.is_authenticated %}
             <a href="/api/userprofile" style="margin-right: 10px; display: inline-block;">Профиль</a>
              <form action="/api/logout" method="post">
                {% csrf_token %}
                <button type="submit" style="margin-right: 10px; display: inline-block;">Выйти</button>
                <p style="margin-right: 10px; display: inline-block;">{{ user.username }}</p>
              </form>
            {% else %}
                <a href="/api/login" style="margin-right: 10px; display: inline-block;">Авторизация</a>
                <a href="/api/register" style="display: inline-block;">Регистрация</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
