{% extends "base.html" %}
{% load static %}

<div class="container my-5">
    <h1>Список зарегистрированных пользователей</h1>
    <ul>
        {% for participant in participants_data %}
            <li>
                <a href="/api/codeforces/participants/{{ participant.username }}">
                    {{ participant.username }}{% if participant.codeforces_handle %} ({{ participant.codeforces_handle }}){% endif %}
                </a>
                {% if participant.rating != "-" %}
                    - Рейтинг: {{ participant.rating }}
                {% else %}
                    - Рейтинг: Не доступен
                {% endif %}
            </li>
        {% empty %}
            <li>Нет зарегистрированных пользователей</li>
        {% endfor %}
    </ul>
    <a href="/">Назад</a>
</div>

