[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/algopath
ExecStart=/var/www/algopath/src/venv/bin/gunicorn --workers 5 --bind unix:/run/gunicorn.sock algopath.wsgi:application

[Install]
WantedBy=multi-user.target